---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<Layout>

<div class="grid grid-cols-1 md:grid-cols-4 gap-2 md:mt-20 text-pretty">
    <div class="cuerpo ml-10 mr-5 md:ml-20 md:mr-10 md:px-10 col-span-3">

        <h2>Blog</h2>

        <p>bla</p>
        
    </div>

    <div>

        <Sidebar />

    </div>
</div>

</Layout>

<style>
</style>
