---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<Layout>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-2 md:mt-20 text-pretty">
        <div class="cuerpo ml-10 mr-5 md:ml-20 md:mr-10 md:px-10 col-span-3">
    
            <h2>Quien soy</h2>
    
            <p>Llevo muchos años haciendo cosas productivas e improductivas en Internet. Programo en HTML, CSS, JavaScript, Python. En otros lenguajes hago cosas en forma esporádica y/o por diversión.</p>
            He trabajado con muchos frameworks, CMS y tecnologías varias:
                <ul class="list-disc list-inside p-4">
                    <li>Django</li>
                    <li>Flask</li>
                    <li>Astro</li>
                    <li>Tailwind</li>
                    <li>Wordpress</li>
                </ul>
            
            Diría que esa es la lista de lo que me gusta hoy, sacando un poco a Wordpress que es un gusto adquirido y necesario al que le tengo más cariño que nada.
        
            </p>
    
            <h3>La historia es esta</h3>
    
            <p>
                Mi nombre no es ni Pedro ni soy de Barcelona, como me recomienda <a href="https://codeium.com/" target="_blank">Codeium</a>, que uso en <a href="https://vscodium.com/" target="_blank">VSCodium</a> y lo recomiendo siempre. Mi nombre es Felipe y vivo en Valparaíso, Chile.
            </p> 
                
            <p> 
                Comencé a hacer cosas en el computador cuando prácticamente Internet estaba llegando. En los noventa habían muchos sitios que uno visitaba con frecuencia. ¿Recuerdan cuando guardábamos booksmarks ordenados por carpeta en Netscape Navigator? En esos años revisaba un directorio llamado <a href="https://web.archive.org/web/19990125104610/http://www.worldwidepunk.com/" target="_blank">World Wide Punk</a>, una página que reseñaba música, sellos, zines y distros. En el footer de la página encontré un banner de Linux. Hasta ese día sólo había hecho algunos experimentos en HTML en un editor para Mac llamado <a href="https://www.barebones.com/products/bbedit/" target="_blank">BBedit</a>. Sólo páginas raras y gifs animados.
            </p>

            <p>
                Me obsesioné con Linux. Con instalarlo y conocer ese otro sistema operativo en el que la gente podía hacer lo que quisiera. Mi primera distro fue claro, <a href="https://en.wikipedia.org/wiki/Red_Hat_Linux" target="_blank">Red Hat</a>. Después <a href="https://www.mandrakelinux.org" target="_blank">Mandrake</a>, por la cantidad de cosas que tenía resueltas. Desde que usé Debian la primera vez no me fui nunca de los sistemas basados en <a href="https://www.debian.org/index.es.html" target="_blank">Debian</a>. Si, el mantenedor de paquetes, la consistencia y estabilidad del sistema. Ubuntu, Mepis, etc. Un tiempo usé Arch, cuando se hizo muy popular al principio, para ver qué tal era. Me devolví a derivados de Debian, la última vez a MX Linux y me quedé para siempre.
            </p> 
            <p>    
                Linux ha sido mi mundo desde hace muchos muchos años. GNOME, KDE, Xfce, GIMP, Bluefish, Abiword, Gnumeric, Evolution(noooo!), Firefox, HexChat y tantos otros. La aventura extraña de hacer un kernel personalizado, nada más poco útil pero al mismo tiempo muy gratificante. Buenos recuerdos. Al inicio era fanático del software libre, un evangelizador dedicado, hoy también lo soy, pero entiendo perfectamente porqué hay gente que no lo usa y no me queda energía para tratar de convertir a nadie. Creo que el software libre se tomó el mundo, se cumplió mucho de lo que siempre soñamos y ahora tiene otros problemas, algunos viejos,  que no se han resuelto. Ya escribiré de eso pero el resumen es: hay que pagarle a la gente que mantiene y desarrolla el software. Lo otro: las empresas tienen la obligación moral de devolver a la comunidad poniéndose con cosas concretas como horas de desarrollo e infraestructura y no eventos que se lleva el viento y alianzas y alianzas y más alianzas que no sirven de nada.
            </p>    
            <p>     
                Llegar a Linux fue descubrir la programación, pero no sentí que había de verdad entendido mejor lo que es programar hasta que conocí Python, a través de Django. Programar me relaja, alegra, motiva, mucho más que cualquier otra actividad. Mi cerebro lo necesita para estar equilibrado y tranquilo, es algo que no puedo lograr por otra vía. En algún punto pude empezar a vivir de esto y me siento muy afortunado. 
            </p>
    
        </div>
    
        <div>
    
            <Sidebar />
    
        </div>
    </div>
