---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
---

<Layout>

<div class="grid grid-cols-1 md:grid-cols-4 gap-2 md:mt-20 text-pretty">
    <div class="cuerpo ml-10 mr-5 md:ml-20 md:mr-10 md:px-10 col-span-3">

        <h2>Quien soy</h2>

        <p>Llevo muchos años haciendo cosas productivas e improductivas en Internet. Programo en HTML, CSS, JavaScript, Python. En otros lenguajes hago cosas en forma esporádica y/o por diversión.</p>
        He trabajado con muchos frameworks, CMS y tecnologías varias:
            <ul class="list-disc list-inside p-4">
                <li>Wordpress</li>
                <li>Django</li>
                <li>Flask</li>
                <li>Astro</li>
                <li>Tailwind</li>
            </ul>
        
        Diría que esa es la lista de lo que me gusta hoy, sacando un poco a Wordpress que es un gusto adquirido y necesario.
    
        </p>

        <h3>La historia es esta</h3>

        

    </div>

    <div>

        <Sidebar />

    </div>
</div>


</Layout>

<style>
</style>
