<div class="text-pretty opacity-80 border-t border-zinc-700 grid grid-cols-1 md:grid-cols-4 gap-2 md:mt-20">
    <div class="cuerpo ml-10 mr-5 md:ml-20 md:mr-10 md:px-10 col-span-3 my-10">

        <p>Web creada con <a href="https://astro.build" target="_blank">Astro</a> y <a href="https://tailwindcss.com" target="_blank">Tailwind</a>, más <a href="https://alpinejs.dev" target="_blank">Alpinejs</a> para el menú mobile.</p>

    </div>
</div>