
<div class="mr-10 ml-10 mt-5 md:mr-20 md:mt-10">
    <div class="px-5 md:px-5 md:py-2 border bg-neutral-800 rounded-md opacity-80 border-zinc-700 text-pretty">

    <p class="m-4">Redes</p>

    <ul class="sidebar list-none">
        <li>* <a class="hover:text-sky-300" href="https://github.com/pedregalux" target="_blank">Github</a></li>
        <li>* <a class="hover:text-sky-300" href="https://gitlab.com/pedregalux" target="_blank">Gitlab</a></li>
        <li>* <a class="hover:text-sky-300" href="https://mastodon.social/@pedregalux" target="_blank">Mastodon</a></li>
        <li>* <a class="hover:text-sky-300" href="https://twitter.com/pedregalux" target="_blank">X/Twitter</a></li>
    </ul>
    
    <p class="m-4">Links</p>

    <ul class="sidebar list-none mb-6">
        <li>* <a class="hover:text-sky-300" href="https://algorithmwatch.org/en/" target="_blank">Algorithm Watch</a></li>
        <li>* <a class="hover:text-sky-300" href="https://ainowinstitute.org" target="_blank">AI Now Institute</a></li>
        <li>* <a class="hover:text-sky-300" href="https://www.fast.ai" target="_blank">Fast AI</a></li>
        <li>* <a class="hover:text-sky-300" href="https://thegradient.pub" target="_blank">The Gradient</a></li>
        <li>* <a class="hover:text-sky-300" href="https://www.kaggle.com" target="_blank">Kaggle</a></li>
        <li>* <a class="hover:text-sky-300" href="https://huggingface.co" target="_blank">Hugging Face</a></li>
    </ul>

    </div>
</div>